h2,h3,h4,h5,h6 {margin: 0;}
ul{margin: 0;}
p {margin: 0;}
html, body{font-size: 100%;
           background:#fff; 
           }

.module{text-align:center;}

.module h1{margin:1.5em 0 0.2em 0;
	         font-size:4em;
           color:#614e3c;}


/*动态区域头部*/
.activepla{margin:2.5em 0em 2em 0em;
            }

.question p{color:#614e3c;
            line-height:30px;}

.question{padding:1em;
          display:none;
          }

.question input{float:right;
                margin-left:1em
                }


.quewrite{margin-top:1em}

.iconplace{width:10%;
           float:left;
           }

.report{height:66px;
        border: 1px solid rgba(97,78,60,0.05);
        border-left:none;
        box-shadow: 0 1px 1px rgba(97,78,60,0.05);
        border-radius:0px 0px 10px 10px;
        color:#614e3c; 
        margin-left:95px;
        background:rgba(97,78,60,0.05);
        position:relative;}

.rpfront{width: 0;
         height: 0;
         border-top: 15px solid rgba(97,78,60,0.05);
         border-left: 16px solid transparent;
         position: absolute;
         left:-16px;
         top:50%;
         margin-top:-10px;
         }
.report ul{list-style:none;
           margin-left:2em;
           font-size:17px;}

.report li{float:left;
          line-height:66px;
          cursor:pointer;
         margin-left:1.8em}

.report li:hover{color:#337ab7;}

.report li a{text-decoration:none;
             color:#614e3c}

.report li a:hover{color:#337ab7;}

.report ul span{padding-right:0.5em}

span.person-icon{
    background: url(../images/userpic.png);
    background-size: 60px 60px;
    width:60px;
    height:60px;
    display:block;
    margin-left:10px;
    border-radius:5px;
}

/*最新讨论*/
span.newline{height:1px;
             background:#93876e;
             width:100%;
             display:block;
             margin:0.3em 0 1em 0;
             }
.newtalk h4{display:inline-block;
            margin-left:1em;
            font-family:myfont}

.newtalk{color:#614e3c;}
/*动态部分*/
.about-grid{padding:0 0.5em 0.6em 0;
            border-bottom:1px solid rgba(97,78,60,0.15);
            margin-bottom:1em;
            }

.about-icon {
    width: 10%;
    float: left;
}
.about-text {
    float:right;
    width:88%;
    padding-left:0.5em;

}
          /*被隐藏文本*/
.behidden{border-style: solid;
          border-color: #FFFFFF;
          width:100%;
          text-indent:50px;
          display:none;
          color:#a79267; 
          margin-top:0.2em;
          padding-top:0.3em;
       }

.ifoverf{overflow-y:scroll;
          height:500px;}

.about-text h5 {
    font-size:1.3em;
    color: #614e3c;
    margin-bottom:0.5em;
    font-family: 'Oswald', sans-serif;
}
.about-text img{
    float: left;
}
.about-text p{
    font-size: 1em;
    color:#a79267;
    line-height: 1.8em;
}
.about-text p span{
    color:#259;
    text-decoration:none;
    cursor:pointer;
}
.about-text p span:hover{
    color:#a79267;
}

/*回答收藏样式*/
.relevant{
    width:100%;
    height:30px;

}
.relevant ul{
    list-style: none;
}
.relevant ul li{
    float: left;
    margin-left:0.8em
}
.relevant ul li a{
    margin-left: 15px;
    color: gray;
    text-decoration:none;
    cursor:pointer;
}
.relevant ul li:nth-child(1) a:hover{
    color:#337ab7;
}

.relevant ul li:nth-child(2) a:hover{
    color:#EA548E;
}

.relevant ul li:nth-child(3){float:right;
                             visibility:hidden;}

.relevant ul li:nth-child(3) a{
    color:#259;
}
.relevant ul li:nth-child(3) a:hover{
    color:gray;
}
.relevant ul li:nth-child(1) span:nth-child(2){margin-right:0em}
.relevant ul li span{margin-right:0.6em}

/*回答区域*/
.answerwhole{display:none;
              margin-top:0.5em;}

.answerhold{width:100%;
            border:1px solid #ddd;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
            border-radius:3px 3px 0px 0px;
            position:relative;
            padding:0 10px 0 10px;
            border-bottom:none;
           }

.answerhold:before{content:"";
                   width:32px;
                   height:21px;
                   background:url("../images/answerhold.gif");
                   position:absolute;
                   top:-15px;
                   left:45px;

}
.wrtanswer{height:110px;
           border-radius: 0 0 3px 3px;
           background: #fbfbfb;
           border:1px solid #ddd;
           border-top:1px solid #eee;
           box-shadow: 0 1px 1px rgba(0,0,0,.05);
           margin-bottom:1em;
           padding:1em
           }

.wrtanswer input:nth-child(2){
                 float:right;
                 margin-top:0.5em
            }
.everyper{border-bottom:1px #ddd solid;
          width:100%;
          padding-top:1em;
          padding-bottom:1em;}

.everyper:last-child{border-bottom:none;}

.answerhold img{width:50px;
                height:50px;
                border-radius:3px;
                float:left;
                }

.everyper h5{font-size:16px;
             color:#337ab7;
             padding-left:60px;}

.everyper p{color:#614e3c;
            font-size:14px;
            line-height:16px;
            word-wrap:break-word;
            padding-left:60px;
            }
.agree{margin-top:0.5em;text-align:right}

.agree span{float:right;
            margin-left:0.5em
            }

 /*回答翻页框*/


.answerpage{border-bottom:none;
            height:50px;
            border-left:1px solid #ddd;
            border-right:1px solid #ddd;
            border-top:1px solid #eee;
            text-align:center;}

.answerpage>.pagination{margin:8px 0 0 -50px;
                        display:inline-block;
                        }

.answerpage>.pagination li a{border:none;
                             }

.answerpage a{float:left;
              line-height:50px;
              margin-left:1em;
              text-decoration:none;
              cursor:pointer;}

.answerpage a span{margin-right:0.5em}           
.answerpage a:hover{color:#614e3c}




/*文章翻页框*/

.gridturn{text-align:center;
          }

.pagination li a{color:#614e3c}

.pagination{margin:1.5em 0em 0em 3em}

/*文章头像*/

span.learn {
    /*background: url(../images/userpic.png)no-repeat;*/
    width:80px;
    height:80px;
    display:block;
    border:2px solid #fff;
    border-radius:40px;
}
span.learn:hover {
    border: 2px solid #016E96;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

/*媒体查询*/
@media (max-width:650px){
     .about-text{width:83%;}
     
}
@media (max-width:480px){
            .about-icon {
                width: 16%;
            }
            .about-text {
                width: 82%;
            }
            span.learn {
                background: url(../images/a3.png)no-repeat 3px 3px;
                background-size: 90%;
                width: 63px;
                height: 63px;
            }
            span.degr {
                background: url(../images/a2.png)no-repeat 3px 3px;
                background-size: 90%;
            	 width: 63px;
                height: 63px;
            }
            span.ab-badge {
                background: url(../images/a1.png)no-repeat 3px 3px;
                background-size: 90%;
            	 width: 63px;
                height: 63px;
            }
}

@media (max-width:990px){
     .newshold{display:none;}
     .rollhold{display:none;}
}

/*侧边栏*/
.rollhold{border: 1px solid rgba(97,78,60,0.1);
          box-shadow: 0 1px 1px rgba(97,78,60,0.05);
          color:#614e3c; 
          margin-top:2.5em;
          border-radius:0 0 5px 5px;
          }

.rollheader{width:100%;       /*消息推送头部*/
            height:100px;
            border-bottom: 1px solid rgba(97,78,60,0.05);
            box-shadow:0 1px 1px rgba(97,78,60,0.05);
            background:rgba(97,78,60,0.05)}

.rollheader li{float:left;
               list-style:none;}  

.rollheader li:nth-child(1){font-size:25px;
                            line-height:100px;
                            margin-left:3em;
                          }

.rollheader li:nth-child(2){line-height:100px;
                            font-size:20px;
                            margin-left:1em;
                            font-weight:700;
                            font-family:myfont;
                              }
.hotroll li:first-child{margin-top:1.5em}

.hotroll li:last-child{margin-bottom:1.6em}

.hotroll li{list-style:none;
            line-height:40px;
            padding:5px 0 5px 35px;}

.hotroll li a{text-decoration:none;
              color:rgba(97,78,60,0.7)  }

.hotroll li a span{margin-right:1em}


.rolllist li:hover a:before{content:"";
                            position:absolute;
                            left:15px;
                            width:5px;
                            height:40px;
                            background:#614e3c; }













/*侧边栏下方*/

.newshold{background:rgba(255,255,255,0.5);
          border: 1px solid rgba(97,78,60,0.1);
          box-shadow: 0 1px 1px rgba(97,78,60,0.05);
          color:#614e3c;
          margin-top:2em;
          }

.newslist{list-style:none;
          margin-bottom:0px;
          }

.newslist p{line-height:50px;
            }

.newslist ul{list-style:none;}



.newsheader{width:100%;       /*消息推送头部*/
            height:100px;}

.newspic{width:80px;
         height:80px;
         background:white;
         border-radius:40px;
         border:8px solid rgba(10,10,10,0.1);
         background-origin:border-box; 
         background-image:url("../images/userpic.png");}

.newsheader li{float:left;}  

.newsheader li:nth-child(1){font-size:25px;
                            margin:12px 0px 0px 20px;
                            position:absolute;
                          }

.newsheader li:nth-child(2){line-height:100px;
                            position:absolute;
                            font-size:30px;
                            margin-left:4em;
                            font-weight:700;
                            font-family:myfont;
                            }


.ablock{width:100%;
        height:50px;
        border-top:1px solid rgba(0,0,0,0.2);
      }



.ablock li{float:left;
           cursor:default;}

.ablock li:nth-child(1){font-size:21px;
                        margin:12px 0px 0px 35px;
                        position:absolute;
                        }

.ablock li:nth-child(2){line-height:50px;
                        position:absolute;
                        margin-left:80px;}

.all-in-there{position:relative;
              display:none;}

.all-in-there a{text-decoration:none;
                line-height:42px;
                padding-left:35px; 
                color:black;
                width:100%;
                display:inline-block;
                }

.all-in-there a span{margin-right:1em;}

.all-in-there li:hover{background:rgba(97,78,60,0.1)} 


.all-in-there li:hover  a:before{content:"";
                                 position:absolute;
                                 left:0px;
                                 width:5px;
                                 height:42px;
                                 background:#614e3c; }               
