#editPWXCMTTable_wrapper.dataTables_wrapper {
	border-bottom: 1px solid #B2D1FF;
	position: relative;
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
}

#editPWXCMTTable_wrapper.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

#editPWXCMTTable_wrapper .dataTables_length,
#editPWXCMTTable_wrapper .dataTables_filter,
#editPWXCMTTable_wrapper .dataTables_info,
#editPWXCMTTable_wrapper .dataTables_paginate {
	display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

#editPWXCMTTable_wrapper table.display thead th,
#editPWXCMTTable_wrapper table.display tfoot th {
	color: blue;
	padding: 3px 10px 3px 10px;
	border-top: 1px solid #B2D1FF;
	border-bottom: 1px solid #EBEBEB;
	background-color: #F2F8FF;
	font-weight: normal;
	cursor:default;
}

#editPWXCMTTable_wrapper table.display tbody input {
	border: 1px solid #7F9DB9;
	height: 25px;
	width: 100%;
}

#editPWXCMTTable_wrapper table.display tbody input.submenu {
	border: 1px solid #7F9DB9;
	height: 25px;
	padding: 3px;
	margin-left: 20px;
	width: 130px;
}

#editPWXCMTTable_wrapper table.display tr:hover{
	background-color: #D9E5F7;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
#editPWXCMTTable_wrapper tr.odd,
#editPWXCMTTable_wrapper tr.even {
	background-color: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}