<ul class="nav navbar-nav side-nav">
    <li><a href="{:U('index/index')}"><i class="fa fa-dashboard"></i> 致用户</a></li>
    <li class="dropdown">
        <a href="{:U('category/index')}"><i class="fa fa-reorder"></i> Menu管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('post/index')}"><i class="fa fa-edit"></i> 问答管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('links/index')}"><i class="fa fa-file-text-o"></i> 作业管理 </a>
    </li>
    <li class="dropdown">
        <a href="{:U('skill/index')}"><i class="fa fa-users"></i> 技术管理</a>  
    </li>
     <li class="dropdown">
        <a href="{:U('heart/index')}"><i class="fa fa-link"></i>心路管理</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> 后台权限 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('member/index')}">用户管理</a></li>
            <li><a href="{:U('setting/index')}">xxx</a></li>
            <li><a href="#">xxx</a></li>
        </ul>
    </li>
</ul>