.errMsg, .red{
color:#f00;
}
.blue{
color:#00f;
}
body, p, table, tr, td, th, dl, dt, dd, ol, ul, li, input, button, select, textarea{
font-family:Helvitica,Verdana,Arial,san-serif;
font-family:"Microsoft YaHei","微软雅黑",Helvitica,Verdana,Arial,san-serif\9;
font-size:14px;
line-height:1.5;
word-wrap: break-word;
}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus{
border-color:rgba(82, 168, 236, 0.8);
outline:0;
outline:thin dotted \9;
/*box-shadow*/
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
   -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.content{
text-align:left;
}
.pipe{
color:#CCC;
}
#loggedout >p >a, #loggedin >p >a{
font:12px/1.5 Tahoma,Helvetica,'SimSun',sans-serif;
vertical-align:top;
}
#loggedout a, #loggedin a{
color:#fff;
margin:0 8px;
font-size:13px;
}
a{
text-decoration:none;
color:#636b89;
}
a:link, a:visited{
color:#636b89;
}
a:hover, a:active{
color:#636b89;
}
.login_btn, .cancel_btn{
background:none repeat scroll 0 0 transparent;
color:#FFF;
cursor:pointer;
font-size:16px;
/*font-weight:b*/
*font-weight:bold;
*/ height:30px;
line-height:25px;
text-align:center;
width:100%;
/**width:9*/
**width:90px;
*/ float:right;
}
.container{
/*width:960px;*/
width:1200px;
margin:0 auto;
}
.clr{
display:block;
clear:both;
height:1px;
overflow:hidden;
}
.hr{
border-bottom:1px solid #eee;
height:1px;
overflow:hidden;
}
h1,h2,h3,h4{
font-family:"Microsoft YaHei",'微软雅黑',Helvitica,Verdana,Arial,san-serif;
font-family:Helvitica,Verdana,Arial,san-serif \9;
}
input, textarea{
background:#fff;
}
.innerPanel{
/*box-shadow*/
-webkit-box-shadow:0px 1px 3px #ccc;
   -moz-box-shadow:0px 1px 3px #ccc;
        box-shadow:0px 1px 3px #ccc;
background:#fff;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
}
.innerPanel .title{
padding:20px 0 10px;
border-bottom:2px solid #eee;
margin:0 20px;
}
.innerPanel .title h3{
font-size:18px;
color:#333;
font-weight:bold;
}
.innerPanel .title p{
font-size:14px;
color:#999;
margin:0;
}
.innerPanel .content{
padding:10px 20px;
}
.innerPanel .operator{
padding:10px 20px;
border-top:1px solid #d7dde6;
/*border-radius*/
-webkit-border-radius:0 0 2px 2px;
   -moz-border-radius:0 0 2px 2px;
        border-radius:0 0 2px 2px;
background:#F0F1F2;
overflow:hidden;
}
.header{
height:80px;
padding: 0 120px;
}
.header .logo{
float:left;
margin-top:2px;
}
.header .logo img{
width:210px;
height:60px;
}
.header .headloginbar{
height:10px;
margin:0 15px 0;
text-align:right;
}
.header .navigator a.home{
background-position:0 0;
}
.header .navigator{
height:60px;
margin:10px 20px 0;
}
.header .navigator li{
float:right;
list-style-type:none;
}
.header .navigator a{
color:#ccc;
text-decoration:none;
border-bottom:none;
height:60px;
line-height:60px;
font-size:17px;
text-align:center;
padding:0 15px;
}
.header .navigator a.current{
color:#fff;
font-size:18px;
}
.footer{
text-align:center;
padding:20px 50px;
}
.contact_us{
display:block;
height:20px;
width:20px;
float:left;
background:url(../image/icon/email.png) no-repeat;
}
.copyright{
font-size:12px;
text-shadow:0px 1px 1px #fff;
}
.textGray{
color:#999;
}
label{
font-size:16px;
display:block;
padding:5px 0;
}
.form .column{
margin:10px 0;
}
.form .inputField{
background:#fff;
border:1px solid #ccc;
/*border-radius*/
-webkit-border-radius:2px;
   -moz-border-radius:2px;
        border-radius:2px;
padding:8px 10px;
font-size:16px;
}
.superlabel .label{
position:absolute;
opacity:0.6;
}
.superlabel .column{
margin:15px 0 25px 0;
position:relative;
}
.login_btn_wrapper, .cancel_btn_wrapper{
-moz-border-bottom-colors:none;
-moz-border-image:none;
-moz-border-left-colors:none;
-moz-border-right-colors:none;
-moz-border-top-colors:none;
/*transition*/
-webkit-transition:box-shadow 0.1s linear 0s;
   -moz-transition:box-shadow 0.1s linear 0s;
     -o-transition:box-shadow 0.1s linear 0s;
        transition:box-shadow 0.1s linear 0s;
background:#67A00D;
background-image:-webkit-gradient(linear,0% 0%, 0% 100%, from(#ADD35E), to(#377100), color-stop(0.3,#88BE18),color-stop(0.6,#71A911),color-stop(0.95,#67A10E));
background-image:-moz-linear-gradient(        0 0 90deg,         #add35e 5%,          #88be18 20%,          #71a911 40%,        #67a10e 100%         );
border-color:#6B9F11 #54850A #386601;
/*border-radius*/
-webkit-border-radius:3px 3px 3px 3px;
   -moz-border-radius:3px 3px 3px 3px;
        border-radius:3px 3px 3px 3px;
border-style:solid;
border-width:1px;
/*display:inline-b*/
/*display:inline-block;
*/
height:30px;
width:90px;
display:inline-block;
zoom:1;
margin-right:10px;
}
.commonColumn{
padding:10px;
min-height:40px;
}
.commonColumn .leftWrapper{
width:150px;
display:inline-block;
zoom:1;
vertical-align:middle;
}
.commonColumn .middleWrapper{
display:inline-block;
zoom:1;
position:relative;
width:500px;
vertical-align:middle;
}
.commonColumn .rightWrapper{
padding-left:10px;
display:inline-block;
zoom:1;
vertical-align:middle;
}
.commonColumn .rightWrapper .preview{
width:100px;
height:50px;
margin:0px;
padding:0px;
}
.commonColumn .inputFieldTitle{
margin:0;
text-align:right;
display:inline;
font-weight:bold;
font-size:14px;
}
.commonColunm .dropdownList{
border:1px outset;
}
.commonColumn .inputFieldHelpText{
vertical-align:middle;
color:red;
}
.commonCheckbox {
border: 1px solid;
border-color: #848484 #E0E0E0 #E0E0E0 #848484;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
padding: 0 3px;
}
.commonColumn .commonInputField{
border:1px solid;
border-color:#848484 #E0E0E0 #E0E0E0 #848484;
height:30px;
width:500px;
/*border-radius*/
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;
padding: 0 3px;
}
.commonColumn label{
padding:2px;
font-size:11px;
}
.commonColumn .icon{
width:32px;
height:32px;
vertical-align:middle;
overflow:hidden;
line-height:32px;
display:inline-block;
zoom:1;
}
.commonColumn .help{
background:url('../image/helpTipIcon.png') no-repeat;
background-position:-40px;
border:none;
cursor:pointer;
}
.commonColumn .tipWrapper{
position:relative;
display:inline-block;
zoom:1;
}
.commonColumn .helpTip{
top:-25px;
display:none;
position:absolute;
z-index:1001;
padding:10px 10px;
background:#555;
color:#fdfdfd;
opacity:0.7;
max-width:350px;
/*border-radius*/
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;
/*box-shadow*/
-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
/*transition*/
-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
   -moz-transition:border linear 0.2s,box-shadow linear 0.2s;
     -o-transition:border linear 0.2s,box-shadow linear 0.2s;
        transition:border linear 0.2s,box-shadow linear 0.2s;
}
.commonColumn .helpTip .corner{
position:absolute;
height:0px;
left:-10px;
top:15px;
width:0px;
overflow:hidden;
font-size:0;
line-height:0;
border-color:transparent #555 transparent transparent;
border-style:dashed solid dashed dashed;
border-width:5px;
}
#beian{
margin:10px;
font-size:13px;
text-shadow:0px 1px 1px #fff;
}
.popupDiv {
text-align:left;
position:absolute;
display:none;
background:#fff;
width:780px;
min-height:300px;
/*border-radius*/
-webkit-border-radius:3px 3px 3px 3px;
   -moz-border-radius:3px 3px 3px 3px;
        border-radius:3px 3px 3px 3px;
border:1px solid grey;
}

.popupDiv > h2 {
text-align:left;
padding:10px 0 0 15px;
}

.popupDiv > p{
text-align:left;
padding-left:10px;
padding-bottom:10px;
margin:0px 5px 15px;
border-bottom:1px solid lightgrey;
}


#loadingmask { display: none; position: absolute; top: 50%; width: 100%; text-align: center; }
#loadingmask #wrapper { width: 1px; height: 40px; margin: 0 auto; float: none; overflow: visible; }
#loadingmask p { color: black;font-size: 100%; }

.ellipsisText { text-overflow: ellipsis; }

#pwxHeadIconImg { position: absolute; top: 5px; left: 20px; width: 60px; height: 60px; border: 1px solid; -webkit-box-shadow: 0px 1px 3px #ccc; -moz-box-shadow: 0px 1px 3px #ccc; box-shadow: 0px 1px 3px #ccc; }
#pwxNameLabel { display: inline-block; padding-left: 50px; }

.maintitle { padding-left:10px; font-size: 1.5em; color:black; }
.subtitle { padding-left:10px; padding-bottom:10px; border-bottom:1px solid #ccc; position:relative; }
.help-tip { padding: 10px; border: 1px dashed orange; margin: 10px; }

.buttonInput:before, .buttonInput:after { content:""; display:table; }
.buttonInput:after{ clear:both; }
.buttonInput { zoom:1; }
.buttonInput input { float: left; }
.commonColumn .buttonInput input { width: 402px; padding-right: 5px; -webkit-border-radius:3px 0px 0px 3px; -moz-border-radius:3px 0px 0px 3px; border-radius:3px 0px 0px 3px; border-right:0px; }
.commonColumn .buttonInput input:focus { border-right: none; }
.buttonInput button { overflow: visible; position: relative; float: right; border: 0; padding: 0; cursor: pointer; height: 32px; width:89px; color: #fff; background: #5FA70F; border-radius: 0 3px 3px 0; text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3); }
.buttonInput button:hover{ background: #69b310; }
.buttonInput button:before { content: ''; position: absolute; border-width: 8px 8px 8px 0; border-style: solid solid solid none; border-color: transparent #5FA70F transparent; top: 8px; left: -6px; }
.buttonInput button:hover:before{ border-right-color: #69b310; }
.buttonInput button::-moz-focus-inner { border: 0; padding: 0; }

.friendlylink { padding: 0px 70px 20px; font-size: 12px; color: #666; }
.friendlylink H3 { text-align: center; margin: 0; font-weight: bold; }
.friendlylink ul { list-style: none; width: 100%; overflow: hidden; margin-left: 0; padding: 0; }
.friendlylink ul li { display: inline; float: left; margin: 0 5px; }